VITE_SUPABASE_URL=https://twofkoqxtievknvamvgb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR3b2Zrb3F4dGlldmtudmFtdmdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY2Nzk2MzEsImV4cCI6MjA2MjI1NTYzMX0.X7R2N5gQ
VITE_APP_ENV=development
